<section>
    <app-logo></app-logo>
    <div class="register title">Setting</div>
    <div class="setting">
        <div class="cardsSetting">
            
            <div class="title">Main Information</div>

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>

            
            <mat-form-field appearance="fill">
                <mat-label>Surname</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="mele">Mele</mat-radio-button>
                <mat-radio-button value="famele">Famele</mat-radio-button>
            </mat-radio-group>

        </div>
        <div class="cardsSetting">
            <div class="title">Additional information</div>
            <div class="subtitle">Photo <span>(optional)</span></div>
            
            <div class="subtitle">About <span>(optional)</span></div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="cardsSetting">
            <div class="title">Languages</div>
        </div>
        <div class="cardsSetting">
            <div class="title">Preview</div>
        </div>
    </div>
</section>

