<section>
   <app-logo></app-logo>
    <div class="menuLink">
        <ul>
            <li>
                <a routerLink="#" href="">Enterprise</a>
            </li>
            <li>
                <a routerLink="#" href="">Why Upwork</a>
            </li>
            <li>
                <a routerLink="#" href="">Find Work</a>
            </li>
            <app-btn routerLink="register"></app-btn>
        </ul>
    </div>
    <div class="menu">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</section>